:root {
  --drawerWidth: 240px;
}

body {
  background-color: efefef !important;
}

.root {
  display: flex;
}

.toolBar {
  margin-left: var(--drawerWidth);
}

.content {
  flex-grow: 1;
  margin-top: 80px;
  margin-left: calc(var(--drawerWidth) + 20px);
}

.searchbar {
  width: 400px;
  flex-grow: 1;
}

.topBarButtons {
  display: flex;
}

.topBarButton {
  margin-right: 10px !important;
}
